<%= form_for @tweet do |f| %>
    <div class="row">
    <div class="spacing">
      <%= f.text_field :body, class: "form-control", id: "inputSuccess", placeholder: "What's happening?" %>
      <br>
      <%#= f.submit 'Post', class: "btn btn-md btn-primary post-button" %>
    </div>
  </div>
<% end %>
