// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-control {
  width:45%;
  height:25px;
  margin:13px;
  margin-top: 5px;
  margin-bottom: 1px;
  color:#FFFFFF;
  border-radius: 7.3px;
  border-color: rgba(97, 11, 82, 0.31);
  background-color: rgba(255, 255, 255, 0.1);
}


p {
  margin-bottom: 5px;
}

.comment-list {
  font-style: italic;
  font-size: 14px;
}

#inputSuccess {
  font-size: 14px;
}

.trash-can {
  font-size: 13px;
}

.trash-can:hover {
  color:#FF8566;
}

input::-webkit-input-placeholder {
  color:#FFFFFF;
}




