// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-control {
  width:45%;
  height:23px;
  margin:13px;
  color:#FFFFFF;
  border-radius: 7.3px;
  border-color: rgba(97, 11, 82, 0.31);
  background-color: rgba(97, 11, 82, 0.31);
}
