// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-size: 25px;
}

body {
  font-size: 14px;
  background: url('flower.jpg') no-repeat;
}

.tweet-title {
  font-size:24px;
}

.centered {
  text-shadow: 0 0 4px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 4px #000;
  -webkit-text-shadow: 0 0 2px #000;
  text-align:center;
  color:#FFFFFF;
}

.well {
  background-color: rgba(255,255,255,0.3);
  position: relative;
  top: 25px;
  padding: 40px;
  padding-top: 0px;
  border-radius: 10px;
}

.post-button {
  background: #6D2101;
  border-color: #6D2101;
  padding: 1.2px 16px;
  border-radius: 20px;
}

.post-button:hover {
  background: #036564;
}

.delete-button {
  background: #6D2101;
  border-color: #6D2101;
  padding: 0.2px 4px;
  border-radius: 20px;
}

.delete-button:hover {
  background: #EDE574;
}

.post-list {
  font-style: normal;
  font-size: 17px;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  -moz-text-shadow: 0 0 2px #000;
  -webkit-text-shadow: 0 0 2px #000;
  color:#FFFFFF;

  /*width:50%;*/
}

.header-nav {
  background: url("header-twitter.png");
  text-decoration: none;
  line-height: 2.6;
}


.link-font {
  color:#FFFFFF;
  text-shadow: hsl(0,0%,12%) 1px 1px, hsl(0,0%,12%) 2px 2px;
}

.link-font:hover {
  color:#FFFFFF;
}

.form-control {
  background-color: rgba(109, 33, 1, 0.44);
  color:#FFFFFF;
  width:97%;
  height: 28px;
  margin: 13px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 7.3px;
}

.spacing {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 0.6;
}

.paginate-font {
  padding-top: 0px;
  padding-left: 304px;
  color:#FFFFFF;
  text-shadow: hsl(0,0%,12%) 1px 1px, hsl(0,0%,12%) 2px 2px;
}

a {
  color:#FFFFFF;
}

a:hover {
  color:#FFFFFF;
}

hr {
  margin-top: 0px;
  margin-bottom: 10px;
}




