// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up {
  color:#FFFFFF;
  margin-left:13px;
}

.user-name {
  color:#FFFFFF;
  font-size: 19px;
  font-weight:bold;
}